@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Inter', sans-serif;
  }
  /* Sidebar transition */
  #sidebar {
    transition: width 0.3s ease;
  }
  /* Hide text when sidebar is collapsed */
  #sidebar.collapsed .nav-text {
    display: none;
  }
  /* Show text on hover when collapsed */
  #sidebar.collapsed:hover .nav-text {
    display: inline;
  }